# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Robot-App/obj/Debug
/Robot-App/bin
/Robot-App/obj
/Robot-App/obj
Robot-App/obj/Debug/net8.0/Robot-App.AssemblyInfo.cs
Robot-App/obj/Debug/net8.0/Robot-App.GeneratedMSBuildEditorConfig.editorconfig
Robot-App/obj/project.assets.json
Robot-App/obj/project.nuget.cache
Robot-App/obj/Robot-App.csproj.nuget.dgspec.json
Robot-App/obj/Robot-App.csproj.nuget.g.props
/Robot-App/obj/Debug/net8.0
/Robot-Code/obj
Robot-Code/Models/SimpleMqttClient.cs
/Robot-Code/Assets/Secret
Robot-App/placeholder.program.cs
